/* .Upload {
    width: 100vw;
    height: auto;
    display: center;
    flex-direction: column;
  }
  
  img {
    width: 300px;
    margin: 10px;
  } */

.imgages {
  flex: 30%;
  margin: 10px;
  max-width: 250px;
  background-size: cover;
}
